body{
    background-color: rgba(243, 255, 251, 0.822);
    position: relative;
}

.fondoIntroducir{
    background-image: url("./imagenes/fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 77vh;
}

header{
    top: 0px;
    width: 100%;
	height: 80px;
    text-align: center;
	background-color: #d6d8f5;
}

.tituloMisAgradecimientos{
    top: 0px;
    width: 100%;
	height: 80px;
    text-align: center;
	background-color: #d6d8f5;
    margin-bottom: 10px;
}

.tituloIntroducir{
    top: 0px;
    width: 100%;
	height: 100px;
    text-align: center;
	background-color: #d6d8f5;
    margin-bottom: 10px;
}

nav{
    width: 100%;
	height: 60px;
	background-color: rgb(104, 94, 252);
	position: sticky;
	top: 0px;
	z-index: 1;
    display: inline-block;
	justify-content: center;
	font-family: Verdana;
	font-size: 20px;
    margin-bottom: 10px;
}

.botones{
    width: 200px;
    height: 50px;
    background-color: rgb(185, 240, 253);
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    margin: 3px;
    padding: 5px;
	align-content: center;
	text-align: center;
	text-decoration: none;
}

.botones a:hover{
    background-color: rgb(250, 234, 86);
    color: rgb(255, 0, 0);
}

.botones a:visited{
    color: rgb(174, 0, 255);
}

.introducir{
    margin: 0 auto;
    background-color: rgb(158, 253, 253);
    color: black;
    width: 600px;
    height: 270px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    align-content: left;
    text-align: center;
}

.campo {
    width: 500px;
    height: 25px;
}

.agradecer {
    width: 500px;
    height: 200px;
}

.btnEnviar{
    background-color: rgb(46, 46, 255);
    color: white;
    width: 595px;
    height: 40px;
    align-content: center;
    text-align: center;
}

.inicio{
    margin: 0 auto;
    background-color: rgb(158, 255, 255);
    color: black;
    width: 600px;
    height: 300px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    vertical-align: middle;
    align-content: center;
    text-align: center;
    box-sizing: border-box;
}

.principal{
    margin: 0 auto;
    background-color: rgb(158, 255, 255);
    color: black;
    width: 600px;
    height: 300px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    align-content: left;
    text-align: left;
    box-sizing: border-box;
}

aside {
    background-color: rgb(158, 255, 255);
    color: black;
    width: 350px;
    height: 300px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    align-content: left;
    text-align: left;
    box-sizing: border-box;
}

.jesuita {
    width: 120px;
    height: 170px;
}

.fundacionloyola{
    width: 300px;
    height: 250px;
}